In [1]:
a = [1,2,3,4,5,6,7,8,9,10]
a2 = []
for i in a :
    a2.append(i**2)
print(a)
print(a2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
a3 = [i**3 for i in a]
print(a3)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

newlist = [operation loop condition]

In [ ]:
creating a list of five names , then use comprehension to create another list
that will contain only first letter from each names

In [4]:
name = ['shreya','mitali','nidhi','pihu','ela']
name2 = []
for i in name:
    name2.append(i[0])
print(name)
print(name2)

['shreya', 'mitali', 'nidhi', 'pihu', 'ela']
['s', 'm', 'n', 'p', 'e']

In [8]:
#comprehension
com = [(i[0]) for i in name ]
print(com)

['s', 'm', 'n', 'p', 'e']

In [4]:
b = [1,2,5,3,2,1,16,8,21,56,23,23,6]
b2 = []
for i in b:
    if i % 2 == 0:
        b2.append(i/2)
print(b)
print(b2)

[1, 2, 5, 3, 2, 1, 16, 8, 21, 56, 23, 23, 6]
[1.0, 1.0, 8.0, 4.0, 28.0, 3.0]

In [6]:
#comprehension

b3 = [i/2 for i in b  if i % 2 == 0]
print(b3)

[1.0, 1.0, 8.0, 4.0, 28.0, 3.0]

In [14]:
#create a list of 10 numbers then use comprehension to create another list of only odd numbers 

num = [ 1,34,5,3,7,8,45,54,97,23]
#num2 = []
#for i in num:
    #if i%2!=0:
        #num2.append(i)
#print(num2)

odd = [i for i in num if i%2!=0]
print(odd)

[1, 5, 3, 7, 45, 97, 23]

In [16]:
#create a list of 10 numbers then use comprehension to create another list of only even numbers 

even = [i for i in num if i %2 ==0]
print(even)
print(num)

[34, 8, 54]
[1, 34, 5, 3, 7, 8, 45, 54, 97, 23]

In [ ]:
#create a list a then use comprehension to create another list of only int number
a = ['2','3','5','10']
a2 = [int(a) for i in a]
print(i)

:

In [4]:
#wap to add elements of 2 list in a 3rdd list using comprehension , assuming both list are equal in length
 
a = [1,2,3,4,5]
b = [6,7,8,9,10]
c = []
c = a +b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
#enumarate() count the index like 0 1 2 3

colors = ['red','green','yellow','pink','blue']
for i ,j in enumerate(colors):
    print(i,j)
print(i)
print(j)

0 red
1 green
2 yellow
3 pink
4 blue
4
blue

In [10]:
for index , value in enumerate(colors):
    if index % 2 ==0:
        print(f"@ {value}")
    else:
        print(f'# {value}')

@ red
# green
@ yellow
# pink
@ blue

In [12]:
#zip  function multiple list pr ek sath work kr skti hai

name = ['shreya','mars','sam','alice']
hindi = [56,78,90,43]
english = [67,76,98,54]

In [14]:
for n , i , j in zip (name, hindi,english):
    print(f'{n} got {i} in hindi  and {j} in english')

shreya got 56 in hindi  and 67 in english
mars got 78 in hindi  and 76 in english
sam got 90 in hindi  and 98 in english
alice got 43 in hindi  and 54 in english

In [27]:
for n , i , j in zip (name, hindi,english):
    print(f' {n:<10} got{i}  hindi and {j} english and total={i+j}')

 shreya     got56  hindi and 67 english and total=123
 mars       got78  hindi and 76 english and total=154
 sam        got90  hindi and 98 english and total=188
 alice      got43  hindi and 54 english and total=97