In [1]:
n = int(input("enter the number"))
sum = 0
a = 1
for i in range (1,n+1):
    a = 1/i
    sum = sum + a
print("the sum of the series ="  , sum)

the sum of the series = 2.283333333333333

In [2]:
n = int(input("enter the number"))
sum = 0
a = 1
for i in range (1,n+1):
    a = 1/(i**2)
    sum = sum + a
print("the sum of the series ="  , sum)

the sum of the series = 1.4636111111111112

In [4]:
sum = 5**3
print (sum)

125

In [7]:
n = int(input("enter the number"))
sum = 0
a = 1
for i in range (1,n+1):
    a = i/(i+1)
    sum = sum + a
print("the sum of the series ="  , sum)

the sum of the series = 3.5500000000000003

In [8]:
n = int(input("enter the number"))
sum = 0
a = 1
for i in range (1,n+1):
    a =  (i**i)/i
    sum = sum + a
print("the sum of the series ="  , sum)

the sum of the series = 701.0

In [9]:
n = int(input("enter the number"))
sum = 0
a = 1
for i in range (1,n+1):
    a =  i**3
    sum = sum + a
print("the sum of the cubes ="  , sum)

the sum of the cubes = 225

In [12]:
n = int(input("enter the number"))
sum = 0
a = 1
for i in range (1,n+1):
    if(i%2==0):
        a = i**2
    else :
        a = 0 
    sum = sum + a        


print("the sum of the series ="  , sum)

the sum of the series = 220

In [3]:
startday = int(input("enter the day from (1-7)" ))
numberofdays = int(input("enter the number of day"))
print( " Mon Tue Thur Fri Sat Sun ")
print("--------------------------- ")

 Mon Tue Thur Fri Sat Sun
---------------------------

In [23]:
for i in range (1,6):
    print("PASS",i,"- ")
    for j in range(1,6):
        print(j,end=' ')
    print( )

PASS 1 -
1 2 3 4 5
PASS 2 -
1 2 3 4 5
PASS 3 -
1 2 3 4 5
PASS 4 -
1 2 3 4 5
PASS 5 -
1 2 3 4 5

In [27]:
for i in range(1,6):
    print()
    for j in range(1,11):
        print("*", end='')

**********
**********
**********
**********
**********

In [30]:
for i in range (6):
    print()
    for j in range (i):
        print("*" , end='')

*
**
***
****
*****

In [34]:
for i in range (1,6):
    print()
    for j in range (1,i+1):
        print( j,end='')

1
12
123
1234
12345

In [40]:
for i in range (1,6):
    print()
    for j in range (1,i+1):
        print( i,end='')

1
22
333
4444
55555

In [6]:
for i in range (1,6):
    print()
    for j in range(1,i+1):
        print( i , end = '')

1
22
333
4444
55555

In [10]:
for i in range (1,6):
    print()
    for j in range(1,i+1):
        print( j , end = '')

1
12
123
1234
12345

In [11]:
count = 0
for i in range (1,5):
    print()
    for j in range(0,i):
        print( count , end = '')
        count = count+1

0
12
345
6789

In [9]:
N = 5
for i in range (N,0,-1):
    for k in range(N, -1):
        print(i , end = '')
    for j in range (1 , i+1):
        print( i , end ='')
    print()

55555
4444
333
22
1

In [25]:
n = 5
for i in range(1,n):
    for j in range(n-i):
        print(" ", end="")
    for k in range(i*2-1):
        print("*", end="")
    print()

    *
   ***
  *****
 *******

In [29]:
n = 5
for i in range(1,n):
    for j in range(i):
        print(" ", end="")
    for k in range(n*2-i*2-1):
        print("*", end="")
    print()

 *******
  *****
   ***
    *