In [2]:
from random import randint

In [14]:
x =  []
for i in range(25):
    x.append(randint(1,100))
print(x)

[70, 94, 83, 11, 23, 77, 86, 88, 23, 4, 93, 77, 39, 28, 68, 10, 33, 73, 77, 27, 49, 100, 66, 19, 42]

In [10]:
val = 81
if val in x:
    x.remove(val)
print(x)

[13, 27, 48, 30, 39, 32, 56, 79, 53, 85, 51, 53, 52, 65, 93, 46, 24, 83, 46, 59, 37, 90, 98, 14]

In [20]:
val = [13,27,48]
if val in x:
    x.remove(val)
print(x)

[70, 94, 83, 11, 23, 86, 88, 23, 4, 93, 39, 28, 68, 10, 33, 73, 77, 27, 49, 100, 66, 19]

In [15]:
x.index(77)

5

In [16]:
x.pop(11) #it remove value from index number

77

In [17]:
x.pop(5)

77

In [18]:
x.pop() #it remove last value

42

In [21]:
x.sort()#sort the list in ascending order
print(x)

[4, 10, 11, 19, 23, 23, 27, 28, 33, 39, 49, 66, 68, 70, 73, 77, 83, 86, 88, 93, 94, 100]

In [2]:
x = [11,66,9,7,98,34,65,32,12,23,45,32,12]
x.sort(reverse=True) #sort in descending order
print(x)

[98, 66, 65, 45, 34, 32, 32, 23, 12, 12, 11, 9, 7]

In [25]:
x.count(33)

1

In [27]:
x = [1,2,3,4,5,6,7,8]
y = x
z = x.copy()#duplicate
y.append(15)
x.remove(5)
z.append(10)
print(x)
print(y)
print(z)
print(x is y) #true
print(x is z)#false
print(y is z)#false

[1, 2, 3, 4, 6, 7, 8, 15]
[1, 2, 3, 4, 6, 7, 8, 15]
[1, 2, 3, 4, 5, 6, 7, 8, 10]
True
False
False

In [30]:
x.clear() #to clear the list
print(x)

[]

questions
- wap to count all the number greater than 50 in a list of 100 elements

In [42]:
x = []
for _ in range(150):
    x.append(randint(1,150))
print(x)

[57, 147, 135, 145, 128, 113, 73, 102, 109, 136, 111, 54, 67, 109, 84, 2, 77, 75, 119, 98, 37, 5, 58, 150, 103, 12, 5, 122, 92, 40, 101, 93, 38, 114, 57, 86, 46, 66, 137, 23, 75, 50, 88, 95, 120, 125, 95, 45, 79, 23, 58, 94, 4, 2, 34, 39, 111, 50, 3, 20, 125, 56, 7, 143, 57, 31, 148, 147, 95, 105, 48, 150, 94, 82, 69, 19, 1, 141, 149, 11, 109, 39, 7, 145, 50, 6, 6, 49, 10, 86, 106, 72, 36, 80, 118, 32, 15, 129, 74, 145, 7, 27, 58, 115, 139, 27, 123, 124, 116, 110, 59, 31, 117, 132, 72, 82, 125, 12, 100, 43, 118, 73, 32, 150, 100, 84, 36, 24, 99, 102, 75, 53, 42, 58, 83, 84, 6, 56, 72, 114, 62, 50, 146, 106, 16, 132, 144, 50, 73, 24]

In [43]:
#wap to count all the number greater than 50 in a list of 100 elements
c = 0
for i in x:
    if i >= 50:
        c +=1
print(f'we have {c} numbers greater than 50')

we have 105 numbers greater than 50

In [46]:
#add all the number that are less than equal to 25 & display the result
add=0
for i in x:
    if i <= 25:
        add = add+i
print(add)

270

In [45]:
#add all the number that are less than equal to 25 & display the result
sub25 = [i for i in x if i <=25]
print(sum(sub25))

270

In [48]:
x.sort()
#print(x)
x.index(27)

25

`list comprehension`
`ex = [expression for loop condition]`

In [49]:
#uption of list without changing the original list
x = [1,2,3,4,5,6,7,8,9,10]
y2 = []
for i in x:
    y2.append(i + 10)
print(y2)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [51]:
y = [ 11,12,13,14,1,5,1,6] #finding odd number and creating new list
odd = []
for i in y:
    if i %2 != 0:
        odd.append(i)
print(odd)

[11, 13, 1, 5, 1]

In [52]:
xcubes = [i ** 3 for i in x]
print (x)
print(xcubes)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [53]:
yodd = [i for i in x if i %2 !=0]
print (x)
print(yodd)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [58]:
# create a list of sqaure from of only even number from an exixting list
e =  []
for i in range(50):
    e.append(randint(1,50))
y = []
for i in e:
    if i%2==0:
        y.append(i**2)
print(e)
print(y)

[20, 42, 9, 43, 45, 17, 1, 36, 37, 32, 22, 8, 3, 2, 11, 6, 43, 5, 48, 13, 27, 11, 40, 37, 11, 25, 42, 24, 13, 32, 15, 39, 21, 18, 49, 22, 40, 50, 12, 39, 38, 49, 48, 36, 8, 23, 1, 13, 22, 47]
[400, 1764, 1296, 1024, 484, 64, 4, 36, 2304, 1600, 1764, 576, 1024, 324, 484, 1600, 2500, 144, 1444, 2304, 1296, 64, 484]

In [61]:
y =[i**2 for i in e if i %2==0]
print(e)
print(y)

[20, 42, 9, 43, 45, 17, 1, 36, 37, 32, 22, 8, 3, 2, 11, 6, 43, 5, 48, 13, 27, 11, 40, 37, 11, 25, 42, 24, 13, 32, 15, 39, 21, 18, 49, 22, 40, 50, 12, 39, 38, 49, 48, 36, 8, 23, 1, 13, 22, 47]
[400, 1764, 1296, 1024, 484, 64, 4, 36, 2304, 1600, 1764, 576, 1024, 324, 484, 1600, 2500, 144, 1444, 2304, 1296, 64, 484]