In [4]:
num = int(input("enter the number"))
if num%2==0:
    print("even number =", num)
else:
  print("odd number = ", num)

odd number =  19

In [13]:
age = int(input("enter your age"))
if age<13:
    print("child =", age)
elif age>=13 and age<=20:
    print("teenager =" , age)
else:
    print("adult = ",age)

adult =  99

In [24]:
d = 0
w = 0
dai = 'daimond'
c = 'club'
h = 'heart'
shape = (input("enter your shape"))
num = int(input("enter your name"))

In [32]:
e = 4
f = 5
print(e+f)

9

In [10]:
Name = input("enter your name")
rollno = int(input("enter your rollno"))
classs = input("enter your class")
age = int(input("enter your age"))
print ("my name is = " , Name)
print ("my rollno is = ", rollno)
print ("I study in classs = " , classs )
print ("I am " , age , "old")

my name is =  Suryansh
my rollno is =  1
I study in classs =  11
I am  16 old

In [3]:
print("shreya")

shreya

In [14]:
num1 = int(input("enter the first digit"))
num2 = int(input("enter the second digit"))
add = num1 + num2
sub = num1 - num2
multiply = num1*num2
divide = num1/num2
print( " num 1 =" , num1)
print( " num 2 = " , num2)
print ("the result of addition is = " ,add)
print ("the rusult of subtraction is = " , sub)
print ("the rusult of multiplication is =" , multiply)
print ("the result of division is =" , divide)

 num 1 = 4567
 num 2 =  765
the result of addition is =  5332
the rusult of subtraction is =  3802
the rusult of multiplication is = 3493755
the result of division is = 5.969934640522876

In [4]:
a = float(input("enter your side"))
b = float(input("enter your second side"))
c = float(input("enter your third side"))

s = (a+b+c)/2
area = (s*(s-a)*(s-b)*(s-c))**0.5
print(a)
print(b)
print(c)
print(s)
print("heron's formula = " , area)

3.0
4.0
5.0
6.0
heron's formula =  6.0

In [18]:
4**0.5

2.0

In [19]:
4*4

16

In [12]:
a = int(input("enter your first value"))
b = int(input("enter your second value"))
if   a  > b:
    print( "greater value = " ,a)
else:
    print( "greater value = " , b)
print( "first number=",a)
print("second number =", b)

greater value =  88
first number= 6
second number = 88

In [34]:
a = int(input("enter your first value"))
#b = int(input(" enter your second value"))
if a%2==0:
    print("num is even", a)
else:
    print("num is odd", a)

num is odd 13

In [36]:
a = 4
b = 6
v = a
a = b 
b = v
v=a
print(a)
print(b)
print(v)

6
4
6

In [17]:
a = int(input("enter your first value"))
b = int(input("enter your second value"))
if a > b:
    print ( "greater number = " , a)
elif b > a:
    print(b)
else:
    print("given numbers are equal ")    
print("first number =" , a)
print("second number = " ,b)

greater number =  123
first number = 123
second number =  43

In [31]:
marks = int(input("enter your marks"))
if marks > 75:
    print ("GRADE O ")
elif marks > 60:
    print ( "GRADE A ") 
elif marks > 50 :
    print ("GRADE B ")
elif marks > 40:
    print ("GRADE C ")
else:
    print ("GRADE D ")  
print("marks =" ,marks)

GRADE O
marks = 99

In [4]:
a = int(input("enter your number"))
b = int(input("enter your second number"))
if 
    print( prime number , a)
else:
    print( composite number)    

pending

SyntaxError: invalid syntax (471071202.py, line 3)

In [ ]:
a = int(input(" num first"))
b = int(input("number second"))
s = a*b
print 
c =3 
v = 5

In [10]:
a = int(input("enter your first number"))
b = int(input("enter your second number"))
print (a)
print("Miss Shreya Gupta is a Instagram influencer")

4
Miss Shreya Gupta is a Instagram influencer

In [23]:
a = float(input("enter your first digit"))
b = float(input("enter your second digit"))
c = float (input("enter third digit"))
add = a+b+c
print(a)
print(b)
print(c)
print("addition of three floating number = " ,add)

56.0
33.3
31.0
addition of three floating number =  120.3

In [40]:
print( ''' 1. coercion, as defined in section 15, or
 2. indue influence, as defined in section 16, or
 3. fraud, as defined in section 17, or
 4. misrepresentation, as defined in section 18, or
 5. mistake, subject to the provisions of section 20,21 and 22''')

 1. coercion, as defined in section 15, or
 2. indue influence, as defined in section 16, or
 3. fraud, as defined in section 17, or
 4. misrepresentation, as defined in section 18, or
 5. mistake, subject to the provisions of section 20,21 and 22

In [42]:
print("hey")

hey

In [11]:
qty = float(input("enter quantity of item sold"))
val = float(input("enter the value of item"))
discount = float(input("enter the discount percentage"))
tax = float(input("enter the tax"))
amt = qty*val
discount_amt = (amt*discount)/100
sub_total = amt-discount_amt
tax_amt = ( sub_total*tax)/100
total_amt = sub_total + tax_amt
print("************Bill*************")
print("quantity sold : \t", qty)
print("price per item : \t", val)
print("-------------------------------")
print("amount : \t\t " , amt)
print("discount :\t\t  " ,discount_amt)
print("-------------------------------")
print("discounted total : \t", sub_total)
print("tax : \t\t\t + ", tax_amt)
print("total amount to be paid ", total_amt)

************Bill*************
quantity sold : 	 12.0
price per item : 	 2.0
-------------------------------
amount : 		  24.0
discount :		   0.48
-------------------------------
discounted total : 	 23.52
tax : 			 +  0.4704
total amount to be paid  23.9904

In [45]:
ord = int(input("enter your order number"))
print("Your order number is")
print("  \t " , ord)
print("----------------------")
print("Rominus Pizza And Burger")
print("----------------------")
print("(TAKSHARYA FOOD WORKS PVT,\LTD)")
print("Simar Height Plot No. B-58/2 Sector-B LDA Colony")
print("\tKanpur Road")
print("\tLucknow-226012")
print("\tTAX INVOICE")
bill_no = int(input("enter your bill number"))
print("BILL NO :" ,bil)
bill = input("enter your type")
print("BILL TYPE:", bill)
dat = int(input("enter the date"))
print("DATE:", dat)
tim = int(input("enter the time"))
print("TIME:",tim)
print("--------------------------------------")
name = input("enter the name")
print("NAME:",name)
mob_no = int(input("enter the mobile number"))
print("MOBILE No:", mob_no)
print("--------------------------------------")
print("DESCRIPTION  \t \t QTY  RATE  AMOUNT")

Your order number is
  	  21
----------------------
Rominus Pizza And Burger
----------------------
(TAKSHARYA FOOD WORKS PVT,\LTD)
Simar Height Plot No. B-58/2 Sector-B LDA Colony
	Kanpur Road
	Lucknow-226012
	TAX INVOICE
BILL NO : 44
BILL TYPE: DINE-IN

ValueError: invalid literal for int() with base 10: '31-2-2'

In [1]:
print("hello")

hello

In [4]:
print(" hello " * 50)

 hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  hello

In [12]:
a = 'hello '
print( a  + '1')
print( a * 5 )

hello 1
hello hello hello hello hello

In [21]:
a[2:4]

'll'

In [27]:
str = 'Python is my fav lang'
print(str[0:6])
print(str[7:9])
print(str[10:12])
print(str[13:16])
print(str[17:22])

Python
is
my
fav
lang

In [41]:
a = (1,2,3,4,5,6,'a','c','f','t')
gap = ('app','org',44,3,20,'fru','ban',50)
print(gap)
print(gap[5])
print(gap[3:])
print(a[:6])
print(a * 2)
print( a + gap)

('app', 'org', 44, 3, 20, 'fru', 'ban', 50)
fru
(3, 20, 'fru', 'ban', 50)
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6, 'a', 'c', 'f', 't', 1, 2, 3, 4, 5, 6, 'a', 'c', 'f', 't')
(1, 2, 3, 4, 5, 6, 'a', 'c', 'f', 't', 'app', 'org', 44, 3, 20, 'fru', 'ban', 50)

In [7]:
rat = [22,55,"rim","queen",66,"ind"]
tom = [44,"lap","gb",7]
print(rat[0:1])
print(rat[1:3])
print(rat * 2)
print(rat + tom)

[22]
[55, 'rim']
[22, 55, 'rim', 'queen', 66, 'ind', 22, 55, 'rim', 'queen', 66, 'ind']
[22, 55, 'rim', 'queen', 66, 'ind', 44, 'lap', 'gb', 7]

In [20]:
x1 = int(input("enter your first point"))
x2 = int(input("enter your second point"))
y1 = int(input("enter your third point"))
y2 = int(input("enter your fourth point"))
formula = ((x2-x1)**2+(y2-y1)**2)**0.5
print(formula)
print(x1)
print(x2)
print(y1)
print(y2)

0.0
1
1
1
1

In [13]:
im = {"imp" : "top singh" , "ugosalavia":"president", "drugs":"mafia","gun":"AK47", "random didi":"papa ki pari"}
print(im["random didi"])
print(im["gun"])

papa ki pari
AK47

In [4]:
num1 = int(input("enter your first number" )) 
num2 = int(input("enter your second number"))
avg = (num1+num2)
avg1 = (avg/2)
dev1 = (num1-avg1)
dev2 = (num2-avg1)
print("average of num1+num2 = " ,avg1)
print(dev1)
print(dev2)

average of num1+num2 =  18.0
15.0
-15.0

In [27]:
age = int(input("enter the age"))
if(age>=18):
    print("eligible for vote")

In [31]:
age = int(input("enter the age"))
if(age>=18):
    print("eligible for vote")
else:
    ag = 18 - age
    print("not eligible for vote") 
    print("years left to vote =", ag)

not eligible for vote
years left to vote = 6

In [38]:
num1 = int(input("enter the first number"))
num2 = int(input("enter the second value"))
if(num1>num2):
    print(num1)
else:
    print(num2)
print("largest num is =")    
print("num1 is =",num1)
print("num2 is =", num2)

76
num1 is = 22
num2 is = 76

In [2]:
ch = 'A'
print(ch.lower())
ch1 = 'suryansh'
print( ch1.upper())

a
SURYANSH

In [13]:
ch = input("Enter the your string")
if(ch>='A' and ch<='Z'):
    print(ch.lower())
else:
    print(ch.upper())

BB

In [39]:
a = int(input("enter your number upto 7"))
if(a==1):
    print("Monday")
if(a==2):
    print("Tuesday")
if(a==3):
    print("Wednesday")
if(a==4):    
    print("Thursday")
if(a==5):
    print("Friday")
if(a==6):    
    print("Saturday")
if(a==7):    
    print("Sunday")

Saturday